body {
    background: silver;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    background-image: url('/home/brad/Documents/html/flooringDesigns/Static/main2.jpg');
    background-size: cover;
    
}

.head {
    color: red;
    width: 97.5%;
    height: 15%;
    opacity: 0.780;
    position: fixed;
    border-style: outset double;
    border-color:dimgray;
    border-width: thick;
    overflow: hidden;
    

    
}

.head a {
    position: absolute
    color:royalblue;
    padding-bottom: 0.4%;
    padding-top: 0.8%;
    padding-left: 14px;
    padding-right: 10px;
    background-color:bisque;
    font-family:monospace;
    font-size: 135%;
    text-align: center;
    margin-left: 22%;
    border: double silver;
    border-width: medium;
}