
body {
    font-family: Mathjax_Math;
    background-image: url(../Static/main2.jpg);
    background-size:contain;
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    background-blend-mode:overlay;
    padding: 2%;


  }

ul {
    padding: 0% ;
    width: 19%;
    opacity: 0.95;
    position: fixed;
    height: auto;
    overflow: auto;
    background-color: dimgrey;
    top: .5%;
    bottom: .5%;
}



li:before {
    content: "\2613"; color:royalblue;
    border-bottom: 3.50px groove deepskyblue;
    
    

}

li {
    padding: 4%;
    text-align:center;
    font-size: 100%;
    position:static;
    background-color: floralwhite;
    border: 6.85px inset royalblue;
    margin-top: 17%;
    margin-bottom: 15%;
}


li a:hover:not(.active) {
    font-size: 115%;
    color:darkblue;

}

li a {
    border-bottom: 3.50px groove deepskyblue;
}


                  @keyframes mymove {
                    0%  {left:550px; top:700px;}
                    100%   {left: 11px; top: 15px;}
}
.container {
    background-color:darkslategray;
    padding: 8%;
    font-family:Mathjax_Math;
    font-weight: bold;
    font-size: 135%;
    position:relative;
    -webkit-animation: mymove 1.99s;
    animation-iteration-count: 1;
    border-left:15px double royalblue;
    border-right:15px double royalblue;
    border-top:14.25px double inset royalblue;
    border-bottom:14.25px double inset royalblue;
    border-radius: 4.50%;
    width:65%;
    height: auto;
    margin-left: 20%;
}
    


.info{
    color: royalblue;
    background-color: darkslategray;
    font-family: monospace;
    font-weight: 600;
    font-size: 115%;
    position: relative;
    -webkit-animation: mymove 1.99s;
    animation-iteration-count: 1;
    border: #030324 double thick;
    border-radius: 4.50%;
    width:52%;
    height: auto;
    position: relative;
}

.info h2 {
    color:aliceblue;
    opacity: 1.0;
    text-align:center;
}


.info p {
    color:aliceblue;
    opacity: 1.0;
    text-align:center;
}
.img  {
    border-radius:15%;
    border-left-style: outset;
    border-left-color:darkslateblue;
    border-left-width: thick;
    border-right-style: outset;
    border-right-color: darkblue;
    border-right-width: thick;
    border-bottom-style: inset;
    border-bottom-width:medium;
    border-bottom-color:darkslateblue;
    background-repeat: no-repeat;
    background-size:cover;
    background-color:darkslategray;
    
}

.img img {
    width: 80%;
    height: auto;
    display:contents;
    padding-top: 2.5%;
}
