
body {
    padding: 5%;
    font-family: Mathjax_Math;
    background-image: url(../Static/main2.jpg);
    background-size:contain;
    background-repeat: repeat;
    margin: 0;
    padding: 0;


  }

/* Center website */
.main {
    max-width: 100%;
    margin:auto;
}

                  @keyframes mymove {
                      0%  {left:550px; top:700px;}
                      100%   {left: 11px; top: 15px;}
}
div.sticky {   
    border-style: outset double;
    border-color:dimgray;
    border-width: thick;
    overflow: hidden;  
    align-self: center;
    border-radius: 10%;
    position: -webkit-sticky;
    position: sticky;
    margin-top: 0px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;    height:300px;
    display:table-cell;
    width: 45%;
    -webkit-animation: mymove 1.99s;
    animation-iteration-count: 1;
    
}


div.sticky button {
    border-radius: 20.25%;
    color:royalblue;
    background-color:azure;
    font-family:monospace;
    font-size: 135%;
    margin-top: 50px;
    align-content:center;
    border: double silver;
    border-width: medium;
    position: -webkit-sticky;
    position: sticky;
    display: grid;
    
}


.row {
      margin: auto;
}

  .row > .column {
      padding: 0.5%;
      border-width:thin;
      border-color: #625032;
      border-style:outset;
      border-radius: 2%;
}


                  @keyframes mymove {
                    0%  {left:550px; top:700px;}
                    100%   {left: 11px; top: 15px;}
                  }
.content {
    color:royalblue;
    padding: 4%;
    font-family:Mathjax_Math;
    font-weight: bold;
    font-size: 135%;
    position:relative;
    -webkit-animation: mymove 1.99s;
    animation-iteration-count: 1;
    display:inline-table;
    border: royalblue double thick;
    border-radius: 4.50%;
    margin-left: 22%;
    margin-top: 0px;
}
.info{
    color: royalblue;
    font-family: monospace;
    font-weight: 600;
    font-size: 115%;
    position: relative;
    -webkit-animation: mymove 1.99s;
    animation-iteration-count: 1;
    border: royalblue double thick;
    border-radius: 4.50%;
    margin-left:auto;
    
}
.img {
    width: 80%;
    border-radius:15%;
    border-left-style: outset;
    border-left-color: black;
    border-left-width: thick;
    border-right-style: outset;
    border-right-color: black;
    border-right-width: thick;

    border-bottom-style: inset;
    border-bottom-width:medium;
    border-bottom-color:grey;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0.55%;  
  }
